<div class="team-extra extra" *ngIf="isTeam(subject)">
  <h3 class="title">{{subject.name}}</h3>
  <div class="team-logo">
    <img [src]="getImageSrc(subject.logoId, imagesTypes.teamLogo)" alt="">
  </div>
  <p class="description">{{subject.description}}</p>
  <p class="stadium"><span class="bold">Стадион:</span> {{subject.stadium}}</p>
  <p class="foundation-date"><span class="bold">Дата основания:</span> {{subject.foundationDate | date:'d MMMM YYYY':undefined:'ru'}} г.</p>
</div>
<div class="player-extra extra" *ngIf="isPlayer(subject)">
  <h3 class="title">{{subject.firstName + ' ' + subject.lastName}}</h3>
  <div class="player-photo">
    <img [src]="getImageSrc(subject.photoId, imagesTypes.playerPhoto)" alt="">
  </div>
  <div class="specifications">
    <div class="age">
      <p class="bold">Возраст:</p>
      <p>{{subject.age}}</p>
    </div>
    <div class="nationality">
      <p class="bold">Гражданство:</p>
      <div>
        <p>{{subject.nationality}}</p>
        <div class="country-icon">
          <img [src]="getImageSrc(subject.nationality.toLowerCase(), imagesTypes.countryIcon)" alt="">
        </div>
      </div>
    </div>
    <div class="height">
      <p class="bold">Рост:</p>
      <p>{{subject.height}}</p>
    </div>
    <div class="position">
      <p class="bold">Позиция:</p>
      <p>{{getFullPosition(subject.position)}}</p>
    </div>
    <div class="number">
      <p class="bold">Номер:</p>
      <p>{{subject.number}}</p>
    </div>
  </div>
</div>