form {
  width: 700px;
  padding: 10px 25px 20px 25px;

  h2 {
    text-align: center;
    padding: 10px 0;
  }

  .form-control {
    padding-bottom: 5px;

    input {
      height: 35px;
    }

    quill-editor {
      padding-top: 10px;
    }
  }
}