<form [formGroup]="form" (submit)="submit()">
  <div class="wrong-data danger-text">
    <p>{{errorMessage}}</p>
  </div>
  <div class="form-control" [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" autocomplete="off">
    <div class="validation">
      <small class="danger-text">Введите email</small>
    </div>
  </div>

  <div class="form-control" [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}">
    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password" autocomplete="new-password">
    <div class="validation">
      <small class="danger-text">Введите пароль</small>
    </div>
  </div>

  <button type="submit" class="btn" [disabled]="form.invalid || submitted">Войти</button>
</form>