<div class="page">
  <div class="match" *ngFor="let match of matches">
    <p class="tournament">{{ match.tournament }}</p>
    <div class="teams-wrap">
      <div class="team">
        <img
          [src]="getLogoSrc(match.team1)"
          [class.real-madrid]="match.team1 === 'Real Madrid'"
        />
        <div class="team-name">
          <p>{{ match.team1 }}</p>
        </div>
      </div>
      <div class="past-match" *ngIf="match.score; else matchDate">
        <p class="score">{{ match.score }}</p>
        <p class="date">{{ match.date | date: "dd.MM" }}</p>
      </div>
      <ng-template #matchDate
        ><div class="next-match">
          <p class="date">
            {{ match.date | date: "d LLLL, HH:mm":undefined:"ru" | matchDate }}
          </p>
        </div></ng-template
      >
      <div class="team">
        <img
          [src]="getLogoSrc(match.team2)"
          [class.real-madrid]="match.team2 === 'Real Madrid'"
        />
        <div class="team-name">
          <p>{{ match.team2 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
