<nav>
  <div class="logo">
    <img routerLink="/" src="../../assets/logo.png" alt="" />
  </div>
  <menu>
    <a routerLinkActive="active" routerLink="/teams">Команды</a>
    <a routerLinkActive="active" routerLink="/news">Новости</a>
    <a routerLinkActive="active" routerLink="/matches">Матчи</a>
    <a routerLinkActive="active" routerLink="/auth" *ngIf="!login; else logout" href="#">Войти</a>
    <ng-template #logout>
      <a routerLinkActive="active" href="#">Выйти</a>
    </ng-template>
  </menu>
</nav>
