<div class="match-wrap">
  <p class="tournament">{{ match.tournament }}</p>
  <div class="match">
    <div class="team">
      <div class="team-logo" [class.real-madrid]="match.team1.name === 'Real Madrid'">
        <img
          [src]="getLogoSrc(match.team1.logoId)"            
        />
      </div>
      <div class="team-name">
        <p>{{ match.team1.name }}</p>
      </div>
    </div>
    <div class="past-match" *ngIf="match.score; else matchDate">
      <p class="score">{{ match.score }}</p>
      <p class="date">{{ match.date | date: "dd.MM" }}</p>
    </div>
    <ng-template #matchDate
      ><div class="next-match">
        <p class="date">
          {{ match.date | date: "d MMMM, HH:mm":undefined:"ru"}}
        </p>
      </div></ng-template
    >
    <div class="team">
      <div class="team-logo" [class.real-madrid]="match.team2.name === 'Real Madrid'">
        <img
          [src]="getLogoSrc(match.team2.logoId)"            
        />
      </div>
      <div class="team-name">
        <p>{{ match.team2.name }}</p>
      </div>
    </div>
  </div>
</div>